set smooth
set autoindent
set morespace
set linenumbers
set mouse
include "/data/data/com.termux/files/usr/share/nano/nanorc.nanorc"
include "/data/data/com.termux/files/usr/share/nano/autoconf.nanorc"
include "/data/data/com.termux/files/usr/share/nano/c.nanorc"
include "/data/data/com.termux/files/usr/share/nano/css.nanorc"
include "/data/data/com.termux/files/usr/share/nano/default.nanorc"
include "/data/data/com.termux/files/usr/share/nano/html.nanorc"
include "/data/data/com.termux/files/usr/share/nano/java.nanorc"
include "/data/data/com.termux/files/usr/share/nano/javascript.nanorc"
include "/data/data/com.termux/files/usr/share/nano/json.nanorc"
include "/data/data/com.termux/files/usr/share/nano/lua.nanorc"
include "/data/data/com.termux/files/usr/share/nano/php.nanorc"
include "/data/data/com.termux/files/usr/share/nano/python.nanorc"
include "/data/data/com.termux/files/usr/share/nano/sh.nanorc"
include "/data/data/com.termux/files/usr/share/nano/sh.nanorc"
include "/data/data/com.termux/files/usr/share/nano/xml.nanorc"
include "~/nano/js.nanorc"
include "~/nano/jsx.nanorc"
include "~/nano/zsh.nanorc"
include "~/nano/markdown.nanorc"
